<!DOCTYPE html>
<html>

<head>
    <title>My App</title>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
    <!-- bower:js -->
    <!-- endbower -->
    <div ng-app="myApp" ng-controller="myCtrl">
        First Name:
        <input type="text" ng-model="firstName">
        <br> Last Name:
        <input type="text" ng-model="lastName">
        <br>
        <br> Full Name: {{firstName + " " + lastName}}
    </div>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>